{% extends 'base.html' %} {% load static %} {% block content%}

<main class="contact-us">
  <div class="banner">
    <img
      src=" {% static './assets/images/bg-banner.png' %}"
      alt=""
      class="img-fluid w-100"
    />
    <h1 class="text-center">Dashboard</h1>
  </div>

  <section class="container mt-5">
    <h2 class="text-center">Welcome to Dashboard</h2>
    <h4 class="text-center text-white-50">
      hi, {{current_user.username}}. Hope you are having a good day
    </h4>

    <div class="table-responsive- mt-3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">YTubers_name</th>
            <th scope="col">City</th>
            <th scope="col">Price</th>
            <th scope="col">Visit</th>
          </tr>
        </thead>
        <tbody>
          {% for tuber in tubers %}
          <tr>
            <th scope="row">{{tuber.user_id}}</th>
            <td>{{tuber.tuber_name}}</td>
            <td>{{tuber.tuber_city}}</td>
            <td>{{tuber.tuber_price}}</td>
            <td>
              <a href="{% url 'youtubers_detail' tuber.tuber_id %}">
                <div class="btn btn-accent">Go to Page</div></a
              >
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</main>

{%endblock%}
